/* SignUp.css */

.form-maincontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
}

h1 {
    margin-bottom: 20px;
    color:white ;
}

.form-container {
    background-color:white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 550px;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.input-group input:focus {
    border-color: #007bff;
    outline: none;
}

/* .error {
    color: red;
    font-size: 12px;
} */

.form-btn {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.form-btn:disabled {
    background-color: #ccc;
}

.formtext {
    margin-top: 10px;
    text-align: center;
}

/* .error-message {
    color: red;
    margin-top: 10px;
    text-align: center;
} */

.loading {
    color: white;
}
.Toastify__toast--success {
  background-color: green !important;
  color: white !important;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}
